.NavbarButton {
    border: none;
    background-color: rgba(0, 0, 0, 0);

    display: flex;
    align-items: center;

    --padding: 0.7rem;

    padding: var(--padding) 0;
    height: calc(100% - 2 * var(--padding));

    color: var(--text-default);
    text-decoration: none;
    opacity: 0.8;

    font-size: 1rem;
    font-family: "Nunito", sans-serif;

    transition: opacity 200ms ease-out;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.NavbarButton:visited {
    color: var(--text-default);
}

.NavbarButton>svg {
    margin-right: 0.5rem;
}

.NavbarButton:hover {
    opacity: 1;
    box-shadow: 0 .125rem 0 0 rgba(var(--color1), 0.5);
}

.NavbarButton--active {
    opacity: 0.9;
    box-shadow: 0 .25rem 0 0 rgba(var(--color1), 0.8);
}

.NavbarButton--active:hover {
    box-shadow: 0 .25rem 0 0 rgba(var(--color1), 1);
}

.NavbarButton-Icon {
    width: 1.1rem;
    height: 1.1rem;
}