.DefaultLayout-Container {
    display: grid;
    grid-template-rows: auto auto;
}

.DefaultLayout-Content {
    padding: 0 1rem 2rem 1rem;
    margin: 2rem auto;

    max-width: 30cm;
    background-color: white;

    border-style: solid;
    border-radius: 1rem;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}