.Home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr 2rem;
}

.Home-DetailSlider {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin: 0 2rem 1rem 2rem;
}

.Home-DetailSlider-Label {
    display: flex;
    align-items: center;
}

.Home-DetailSlider-Slider {
    flex-grow: 1;
    margin: auto 0;
}

.Home-NavbarButton {
    --border-color: #BDBDBD;

    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 4px;

    height: calc(100% - 2*0.5rem);

    display: grid;
    justify-content: center;
    align-content: center;

    margin-left: 0.5rem;
}

.Home-NavbarButton:hover {
    border-color: black;
}

.Home-NavbarButton--icon>svg {
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1/1;
}

.Home-NavbarButton--active {
    background-color: var(--border-color);
}

.VizSettings-Label {
    padding: 0.25rem 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.VizSettings-Label:first-child {
    margin-top: 0;
}