.CytoDFM-container {
    position: relative;
    height: 100%;
}

.CytoDFM-Overlay {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    z-index: 3;

    background-color: white;
}

.CytoDFM-top-left {
    top: 1rem;
    left: 1rem;
}

.CytoDFM-top-right {
    top: 1rem;
    right: 1rem;
}

.CytoDFM-bottom-left {
    bottom: 1rem;
    left: 1rem;
}

.CytoDFM-bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.CytoDFM-Legend {
    list-style: none;
    padding: 0.5rem 1rem;
}

.CytoDFM-Legend>li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CytoDFM-Legend-Circle {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;

    margin-right: .5rem;
}

.CytoDFM-Infobox {
    top: 2rem;
    right: 2rem;

    padding: 0.5rem 1rem;

    max-width: 30vw;
    max-height: 50vh;
    overflow-y: scroll;
}

.CytoDFM-Infobox h4 {
    margin-bottom: 0;
}

.CytoDFM-Infobox-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin: .5rem 0 1rem 0;
}

.CytoDFM-Infobox-Header h3 {
    margin: 0;
}

.CytoDFM-Infobox-Header-Close {
    transition: all 200ms ease-in;
}

.CytoDFM-Infobox-Header-Close:hover {
    opacity: 0.8;
}

.CytoDFM-Infobox-Header-Close>svg {
    width: 1.2rem;
    height: 1.2rem;
}

.CytoDFM-Infobox-Metrics-Grid {
    display: grid;
    grid-template-columns: auto repeat(4, auto);
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.CytoDFM-Infobox-Metrics-Header {
    font-weight: bold;
}

.CytoDFM-Infobox-Metrics-Cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CytoDFM-Infobox-Metrics-Divider {
    grid-column: 1/6;
    height: 1rem;
}

.CytoDFM-Infobox-Traces-Grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .5rem;
}

.CytoDFM-Infobox-Traces-Header {
    grid-column: 1/3;
}

.CytoDFM-Infobox-Traces-Header:first-child {
    grid-column: 1/3;
    margin-top: 0;
}

.CytoDFM-Infobox-Traces {
    margin-bottom: 1rem;
}

.CytoDFM-Infobox-Traces-OT {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 0.5rem;
}

.CytoDFM-Infobox-Traces-Trace-Count {
    padding-left: 1.25rem;
}