.NOS-ObjectType-SelectAll {
    width: calc(100% - 2 * var(--dropdown-side-padding));
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;

    padding: 0.5rem var(--dropdown-side-padding) 0.5rem 2.5rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.NOS-ObjectType-SelectAll:hover {
    background-color: rgba(var(--color1), 0.1);
}