.NOS-ObjectType {
    width: calc(100% - 2 * var(--dropdown-side-padding));
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;

    padding: 0.5rem var(--dropdown-side-padding);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.NOS-ObjectType-Check {
    margin-right: 0.5rem;
    height: 1rem;
    aspect-ratio: 1/1;
}

.NOS-ObjectType:hover {
    background-color: rgba(var(--color1), 0.1);
}

.NOS-ObjectType-SelectAll {
    padding-left: 2.5rem;
}

.NOS-ObjectType--disabled {
    color: rgba(0, 0, 0, 0.5);
}

.NOS-ObjectType--disabled:hover {
    background-color: transparent;
}

.NOS-ObjectType--disabled>svg {
    opacity: 0.7;
}